.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
fastcompmgr
test_timing_buffer
test_comp_rect
test_win_hash
test_pipeline
test_helper_win
*.o
*~
.geany
